include *.py
include *.txt
include *.rst
include buildout.cfg
include .travis.yml
include tox.ini
include .coveragerc

recursive-include src *.zcml
recursive-include src *.py

recursive-include docs *.txt
recursive-include docs *.GPL
